################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/leap/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/HelloWorld/HelloWorld/obj/Debug/HelloWorld.csproj.CoreCompileInputs.cache
/HelloWorld/HelloWorld/obj/Release/HelloWorld.csproj.CoreCompileInputs.cache
/.vs/VSWorkspaceState.json
/HelloWorld/HelloWorld/obj/Debug/HelloWorld.csprojAssemblyReference.cache
